@import "../../config";

.card-link-container {
  @include flex-container;
  flex-basis: auto;
  margin-top: 10px;
  font-size: 15px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  position: relative;
  z-index: 0;

  :hover {
    cursor: pointer;
  }

  .link-image-container {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}
