@import "../../config";

.article-container {
  @include flex-container;
  margin: 0 auto;
  margin-top: 150px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 600px;
  min-width: 0px;
  height: 500px;
  min-height: 0px;
  border-radius: 4px;
  position: relative;
  z-index: 0;
  background-color: pink;

  article {
    align-items: stretch;
    box-sizing: border-box;
    flex-grow: 7;
    min-width: 0px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;

    .card-container {
      @include flex-container;
      flex-direction: row;
      flex-basis: auto;
      flex-shrink: 0;
      position: relative;
      z-index: 0;
    }
  }
}
