.header-container {
  align-items: stretch;
  border: 0 solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 2px;
  background-color: white; }
  .header-container .card-author {
    color: #707070; }
    .header-container .card-author h4 {
      display: inline;
      margin: 0;
      font-weight: bold; }
  .header-container .card-menu-contain {
    position: absolute;
    margin-left: 20px;
    top: 2px;
    right: 10px;
    height: 20px;
    width: 20px; }
    .header-container .card-menu-contain :hover {
      cursor: pointer; }
    .header-container .card-menu-contain .svg-icon.down-arrow:hover path {
      fill: #1991d9; }
